@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

:root{
    --color-primary: #6C9BCF;
    --color-danger: #FF0060;
    --color-success: #1B9C85;
    --color-warning: #F7D060;
    --color-white: #fff;
    --color-info-dark: #7d8da1;
    --color-dark: #363949;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-dark-variant: #677483;
    --color-background: #f6f6f9;

    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 1.2rem;

    --card-padding: 1.8rem;
    --padding-1: 1.2rem;
    --duration: 0.3s;
    --box-shadow: 0 2rem 3rem var(--color-light);
}

.dark-mode-variables{
    --color-background: #181a1e;
    --color-white: #202528;
    --color-dark: #edeffd;
    --color-dark-variant: #a3bdcc;
    --color-light: rgba(0, 0, 0, 0.4);
    --box-shadow: 0 2rem 3rem var(--color-light);
}

*{
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: 0;
    border: 0;
    text-decoration: none;
    box-sizing: border-box;
}

html{
    font-size: 14px;
}

body{
    width: 100vw;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    font-size: 0.88rem;
    user-select: none;
    overflow-x: hidden;
    color: var(--color-dark);
    background-color: var(--color-background);
}

a{
    color: var(--color-dark);
    text-decoration: none;
}

img{
    display: block;
    width: 100%;
    object-fit: cover;
}

h1{
    font-weight: 800;
    font-size: 1.8rem;
    margin: 0;
}

h2{
    font-weight: 600;
    font-size: 1.4rem;
    margin: 0;
}

h3{
    font-weight: 500;
    font-size: 0.87rem;
    margin: 0;
}

small{
    font-size: 0.76rem;
}

p{
    color: var(--color-dark-variant);
}

b{
    color: var(--color-dark);
}

b {
    color: var(--color-dark);
}

/* scrollbar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: var(--color-light);
}

::-webkit-scrollbar-thumb {
    background-color: var(--color-primary);
    border-radius: var(--border-radius-2);
}
/* end scrollbar */
/* start loader */
.loader {
    background-color: rgb(241 242 247);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
}
/* end loader */
/* start header */

#header {
    display: block;
}

.navbar {
    padding: 10px;
}

.navbar .container-fluid {
    display: flex;
    justify-content: space-between;
}

.navbar .profile {
    display: flex;
    align-items: center;
    padding: 0px 30px;
}

@media screen and (max-width: 767px) {
    .navbar .profile {
        padding: 0px;
    }
}


.navbar .profile .dark-mode {
    background-color: var(--color-white);
    border-radius: var(--border-radius-2);
    margin-right: 20px;
    padding: 5px;
}

.navbar .profile .dark-mode span{
    color: var(--color-dark);
    font-size: 15px;
    text-align: center;
    padding: 3px 8px;
    cursor: pointer;
}

.navbar .profile .dark-mode span.active {
    background-color: var(--color-primary);
    color: #FFF;
    border-radius: var(--border-radius-2);
    cursor: auto;
}

.navbar .profile .profile-info {
    display: flex;
}

.navbar .profile .profile-info p {
    font-size: 1rem;
    margin: 0px;
}

.navbar .profile .profile-info small {
    color: var(--color-dark-variant);
}

.navbar .profile .profile-info .info {
    padding: 0px 20px;
}

@media screen and (max-width: 767px) {
    .navbar .profile .profile-info .info {
        padding: 0px 10px;
    }
}

.navbar .profile img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.header .navbar-brand {
    display: flex;
    align-items: center;
    height: 40px;
    padding: 0px 25px;
}

.header .navbar-brand h2 {
    color: var(--color-dark);
}

@media screen and (max-width: 767px) {
    .header .navbar-brand {
        padding: 0px;
    }
    .header .navbar-brand h2 {
        display: none;
    }
}

.header .navbar-brand img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
/* end header */


section {
    display: none;
}

/* start section dashboard */
#dashboard {
    display: block;
}

#dashboard > .container-fluid {
    display: flex;
}

#dashboard .container-fluid aside {
    padding: 1rem;
    width: 90px;
    transition: all var(--duration) linear;
}

#dashboard .container-fluid aside.open {
    width: 180px;
}

.container-fluid aside .toggle .sidebar {
    background-color: var(--color-white);
    border-radius: var(--border-radius-2);
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    position: relative;
    box-shadow: var(--box-shadow);
    transition: all var(--duration) ease;
    overflow: hidden;
}

.container-fluid aside .toggle .sidebar:hover {
    box-shadow: none;
}

.container-fluid aside .toggle .sidebar button {
    background-color: var(--color-white);
    color: var(--color-dark-variant);
    padding: 10px 0px;
}

.container-fluid aside .toggle .sidebar a {
    color: var(--color-dark-variant);
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 0.8rem;
    padding: 1rem 0px;
    transition: all 0.4s;
    position: relative;
}

.container-fluid aside .toggle .sidebar a:hover {
    background-color: var(--color-light);
}

.container-fluid aside .toggle .sidebar a span.badge {
    display: none;
}

.container-fluid aside.open .toggle .sidebar a span.badge {
    display: block;
}

.container-fluid aside .toggle .sidebar a h3 {
    opacity: 0;
    pointer-events: none;
    overflow: hidden;
    white-space: nowrap;
    transition: all var(--duration) ease;
}

.container-fluid aside.open .toggle .sidebar a h3 {
    opacity: 1;
    pointer-events: all;
}

.container-fluid aside .toggle .sidebar a:last-of-type {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    padding: 1.7rem 0px;
}

.container-fluid aside .toggle .sidebar a span:first-of-type {
    margin-left: 1.5rem;
    font-size: 1.3rem;
    transition: all var(--duration) ease;
}

.container-fluid aside.open .toggle .sidebar a span:first-of-type {
    margin-left: 1.5rem;
}

.container-fluid aside .toggle .sidebar a:hover span:first-of-type {
    margin-left: 1.8rem;
}

.container-fluid aside .toggle .sidebar a.active {
    background-color: var(--color-light);
    color: var(--color-primary);
}

.container-fluid aside .toggle .sidebar a.active::before {
    content: "";
    background-color: var(--color-primary);
    width: 0.5rem;
    height: 1.4rem;
    transform: translateY(-50%);
    position: absolute;
    top: 50%;
    left: 0%;
}
/* end section dashboard */

/* start main */
#dashboard main {
    flex: 1;
}

.main-dashboard {
    display: block;
}

.main-dashboard .analysis-box {
    background-color: var(--color-white);
    border-radius: var(--card-border-radius);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 1.7rem;
    box-shadow: var(--box-shadow);
    cursor: pointer;
    transition: all var(--duration) ease;
    margin-bottom: 15px;
}

@media screen and (max-width:767px) {
    .main-dashboard .analysis-box {
        padding: 0.5rem;
    }
}

.main-dashboard .analysis-box:hover {
    box-shadow: none;
}

.main-dashboard .analysis-box .info h3 {
    font-size: 1rem;
    font-weight: bold;
    padding: 0.3rem;
    color: var(--color-dark)
}

.main-dashboard .progress {
    width: 70px;
    height: 70px;
    line-height: 100px;
    background: none;
    box-shadow: none;
    position: relative;
    margin-top: 10px;
}

.main-dashboard .progress:after{
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 0.5rem solid var(--color-white);
    position: absolute;
    top: 0;
    left: 0;
}

.main-dashboard .progress > span{
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 1;
}

.main-dashboard .progress .progress-left{
    left: 0;
}
.main-dashboard .progress .progress-bar{
    width: 100%;
    height: 100%;
    background: none;
    border-width: 0.5rem;
    border-style: solid;
    position: absolute;
    top: 0;
}

.main-dashboard .progress .progress-left .progress-bar{
    left: 100%;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
    border-left: 0;
    -webkit-transform-origin: center left;
    transform-origin: center left;
}

.main-dashboard .progress .progress-right{
    right: 0;
}
.main-dashboard .progress .progress-right .progress-bar{
    left: -100%;
    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px;
    border-right: 0;
    -webkit-transform-origin: center right;
    transform-origin: center right;
    animation: loading-1 1.8s linear forwards;
}
.main-dashboard .progress .progress-value{
    width: 90%;
    height: 90%;
    border-radius: 50%;
    background: var(--color-white);
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    position: absolute;
    top: 5%;
    left: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-dashboard .progress.sales .progress-value {
    color: var(--color-danger);
}

.main-dashboard .progress.visits .progress-value{
    color: var(--color-success);
}

.main-dashboard .progress.searches .progress-value{
    color: var(--color-warning);
}

.main-dashboard .progress.sales .progress-bar{
    border-color: var(--color-danger);
}

.main-dashboard .progress.sales .progress-left .progress-bar{
    animation: loading-2 1.5s linear forwards 1.8s;
}

.main-dashboard .progress.visits .progress-bar{
    border-color: var(--color-success);
}

.main-dashboard .progress.visits .progress-left .progress-bar{
    animation: loading-2 1.5s linear forwards 1.8s;
}

.main-dashboard .progress.searches .progress-bar{
    border-color: var(--color-warning);
}

.main-dashboard .progress.searches .progress-left .progress-bar{
    animation: loading-2 1.5s linear forwards 1.8s;
}

.main-dashboard .users-list {
    position: relative;
}

.main-dashboard .users-list > h2 { 
    padding: var(--card-padding);
}

@media screen and (max-width:767px) {
    .main-dashboard .users-list > h2  {
        font-size: 1.1rem;
    }
}

.main-dashboard .users-list .users {
    background-color: var(--color-white);
    border-radius: var(--card-border-radius);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1.7rem 4rem;
    text-align: center;
    box-shadow: var(--box-shadow);
    transition: all var(--duration) ease;
}

.main-dashboard .users-list .users:hover {
    box-shadow: none;
}

.main-dashboard .users-list .users .user {
    cursor: pointer;
    margin-bottom: 15px;
}

.main-dashboard .users-list .users .user {
    width: calc((100% / 4) - 1%);
}

@media screen and (max-width:767px) {

    .main-dashboard .users-list .users {
        padding: 1rem;
    }

    .main-dashboard .users-list .users .user {
        width: 48%;
    }
}

.main-dashboard .users-list .users .user img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 0px auto;
    margin-bottom: 0.5rem;
}

.main-dashboard .users-list .users .user h2 {
    font-size: 1.2rem;
    padding: 0.3rem;
    color: var(--color-dark)
}

.main-dashboard .users-list .users .user p {
    margin: 0px;
}

.main-dashboard .users-list .users .add-user {
    position: absolute;
    top: 20px;
    right: 20px;
}

.main-dashboard .recent-orders {
    position: relative;
}

.main-dashboard .recent-orders > h2 {
    padding: var(--card-padding);
}

@media screen and (max-width:767px) {
    .main-dashboard .recent-orders > h2 {
        font-size: 1.1rem;
    }
}

.main-dashboard .recent-orders .orders {
    background-color: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    box-shadow: var(--box-shadow);
    transition: all var(--duration) ease;
}

.main-dashboard .recent-orders .orders:hover {
    box-shadow: none;
}

.main-dashboard .recent-orders table {
    width: 100%;
    text-align: center;
    color: var(--color-dark-variant);
}

.main-dashboard .recent-orders table td {
    padding: 10px 0px;
}

.main-dashboard .recent-orders table tr:not(:last-child) {
    border-bottom: 1px solid var(--color-light);
}

@media screen and (max-width:767px) {
    .main-dashboard .recent-orders table tbody tr td:nth-of-type(2) , 
    .main-dashboard .recent-orders table tbody tr td:nth-of-type(3) ,
    .main-dashboard .recent-orders table thead tr th:nth-of-type(2) ,
    .main-dashboard .recent-orders table thead tr th:nth-of-type(3) 
    {
        display: none;
    }
}

@media screen and (max-width:500px) {
    .main-dashboard .recent-orders table tbody tr td:nth-of-type(2) , 
    .main-dashboard .recent-orders table tbody tr td:nth-of-type(3) ,
    .main-dashboard .recent-orders table tbody tr td:nth-of-type(4) ,
    .main-dashboard .recent-orders table thead tr th:nth-of-type(2) ,
    .main-dashboard .recent-orders table thead tr th:nth-of-type(3) ,
    .main-dashboard .recent-orders table thead tr th:nth-of-type(4) 
    {
        display: none;
    }

    .main-dashboard .recent-orders table {
        font-size: 0.8rem;
    }
}

.main-dashboard .recent-orders a {
    text-decoration: none;
    padding: 15px;
    text-align: center;
    display: block;
}

.main-dashboard .recent-orders .add-course {
    position: absolute;
    top: 20px;
    right: 20px;
}

.main-dashboard .details .user-profile {
    background-color: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    text-align: center;
    box-shadow: var(--box-shadow);
    transition: all var(--duration) ease;
}


.main-dashboard .details .user-profile:hover {
    box-shadow: none;
}

.main-dashboard .details .user-profile img {
    width: 140px;
    height: 140px;
    margin: 0px auto;
}

.main-dashboard .details .user-profile h2 {
    padding: 15px 15px 10px;
}

.main-dashboard .details .reminders .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    padding: 0.9rem 0;
    color: var(--color-dark-variant);
}

.main-dashboard .details .reminders .header span {
    background-color: var(--color-white);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-dashboard .details .notification {
    background-color: var(--color-white);
    padding: 20px;
    border-radius: var(--border-radius-2);
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 10px;
}


.main-dashboard .details .notification .icon {
    color: var(--color-white);
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--border-radius-1);
}

.main-dashboard .details .notification .content {
    flex: 1;
    display: flex;
    justify-content: space-between;
}

.main-dashboard .details .notification.add-reminder {
    border: 2px dashed var(--color-primary);
    justify-content: center;
    color: var(--color-primary);
    transition: all var(--duration) ease;
    cursor: pointer;
}

.main-dashboard .details .notification.add-reminder:hover {
    background-color: var(--color-primary);
    color: #FFF;
}

.main-dashboard .details .notification.add-reminder div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

/* modal */
.modal .modal-content {
    background-color: var(--color-white);
}
form {
    padding: 15px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 500px;
}

form input {
    background-color: #f3f3f3ba;
    border: none;
    border-bottom: 2px solid #adb5bd;
    outline: none;
    padding: 17px;
    width: 100%;
    transition: 0.3s;
}

form input:focus {
    box-shadow: 0 0 5px 0px #D3D3D3;
    outline: none;
}

form select {
    background-color: #f3f3f3ba;
    border: none;
    border-bottom: 2px solid #adb5bd;
    outline: none;
    padding: 17px;
    width: 100%;
    transition: 0.3s;
}

form select:focus {
    box-shadow: 0 0 5px 0px #D3D3D3;
    outline: none;
}

form .form-group {
    width: 100%;
    position: relative;
    overflow: hidden;
}

form .form-group span {
    position: absolute;
    top: 35%;
    right: -10%;
    transform: translateY(-60%);
    transition: 0.3s;
    opacity: 0;
}

.border-invalid {
    transition: 0.3s;
    border-bottom-color: #fa172c70;
}

.border-valid {
    transition: 0.3s;
    border-bottom-color: #17fa1770;
}

form .form-group .form-text {
    color: var(--color-dark);
}

/* modal */

@keyframes loading-1{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
}
@keyframes loading-2{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(144deg);
        transform: rotate(144deg);
    }
}
@keyframes loading-3{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }
}
@keyframes loading-4{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(36deg);
        transform: rotate(36deg);
    }
}
@keyframes loading-5{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(126deg);
        transform: rotate(126deg);
    }
}
@media only screen and (max-width: 990px){
    .progress{ margin-bottom: 20px; }
}

/* end main */

